:root {
    
     --mint: #3ab795ff;
     --black: #000;
     --marianblue: #1e3888ff;
     --snow: #f9f4f5ff; 
     --myaqua: #00ffff;
     --oldwhite: #faebd7;
     --calmbeige: #ffe4c4;
     
    
}
 
.socialmed a {
	
    width: 150px;
    border: 2px solid rgb(0 0 0 / 0.1);
   
    background-color:var(--snow);
    color:var(--black);
   
   
}

.hero h1 {
     font-family: "Quicksand", sans-serif;
     font-size: 65px;
     color: var(--marianblue);
    
    
     }
.cup {
     font-family: "Quicksand", sans-serif;
     font-size: 65px;
     font-weight: 600;
     font-style: normal;
     display: flex;
     grid-column: 1/-1;
     justify-self: center;
}
   
h2 {
     font-family: "Lora", serif;
     font-size: 65px;
     font-weight: 400;
     font-style: normal;
     color: var(--marianblue);
   }

.clmedia a {
     
     text-decoration: none;
} 

 
p {
     color: var(--marianblue);
     font-size:20px;
}

.hero {
     margin: 10px auto;
	position:relative; 
    
}

.hero img {
     width: 100%;
	height: 800px;
	object-fit: cover;
     
}
ul {
     list-style-type: none;
     
}


.ontop {
	position: absolute;
	top: 200px;
	left: 50px;
     right: 50px;
     width:auto;
	border: 2px solid #000;
	padding: 1px;
	background-color: var(--marianblue);
	opacity: 0.7;
}

.ontop img {
     width: 100px;
	height: 100px;
	object-fit: cover; 
     float:right;
     padding: 10px;
}

.banner {
    
   
     
     position:absolute;
     top: 10px;
	left: 0;
	width: 99.9%;/* with of box around content */
	border: 1px solid #000;
	
     background: radial-gradient(#eee, #323A06);
	opacity: 0.7;
     text-align: center;
   
}

.fontcolor {
     font-family: "Lora", serif;
     
     font-weight: 400;
     font-style: normal;
     color: var(--snow);
}
/* HEADER SECTION *****************************************/
header {
     display: grid;
     grid-template-columns: 500px auto;
     align-items:center;
     background-color: var(--myaqua); /*#00ffff */
     text-decoration: none;
     justify-items: center;

}

header nav a {
     text-decoration: none;
     text-align: center;

}
/****************************************** HEADER SECTION / NAV  *************** */
  nav {
     display: flex;
    
     
 }
 nav a {
    
     padding: 1rem;
     margin: -.14rem;
     color:var(--marianblue);
 }
nav a:hover {
     background-color:var(--oldwhite);
     color:var(--black);
}
/* ************************* NAV SECTION / HISTORY *********************/
.history {
     display:grid;
     border: 4px var(--black);
    grid-template-rows:  150px 1fr; 
    border: 1px #000;
    background-color: var(--snow);
}
.mbody {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
    
     border:1px var(--black);
     padding: 30px;
}
.mbody img {
     padding: 30px;
     border: 1px #000;
}

.mtitle {
     display:flex;
     justify-content: center;
    border: 1px #000;
    
}
/****************************HISTORY / ADVENTURE *******************************/
.adv {
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     justify-self: center;
     margin: 15px 0;
     gap: 1rem;
    
     
}
.adv h2 {
     display: flex;
     grid-column: 1/-1;
     justify-self: center;


}
.adv figure {
     align-self: center;
}
figcaption {
   
    padding: 1em;
}
/******************************************************************************************/
footer {
     display: grid;
     grid-template-columns:  80% 20%;
     align-self: center;
     margin: 15px 0;
}
footer p {
     text-align: center;

}
.contact {
     display:grid;
     grid-template-columns: 70% auto;
     align-items: center;
     font-family: "Quicksand", sans-serif;
     font-size: 45px;
     padding:25px;  
    
     font-weight: 600;
     font-style: normal;
 }
 .contact p {
     font-size: 30px;
 }
 .info {
    text-align: center;
     
 }
 
 .gmap {
     display: flex;
     
    
 }
 .gmap iframe {
     display: block;
     padding: 20px;
    background-color:  #ffe4c4;
 
   
     border:3px;
   
 }
    
   
    
 .info a {
     font-size: 20px;
 }

fieldset {
     display: block;
     margin-left: 2px;
     margin-right: 2px;
     padding-top: .35em;
     padding-bottom: .625em;
     padding-left: .75em;
     padding-right: .75em;
     border: 2px groove;
    }
.hold {
     align-self: center;
}
.profile {
     display:grid;
     grid-template-columns: 1fr 1fr auto;
     grid-template-rows:  20% auto;
     justify-self:stretch;
     margin: 15px 0;
     gap: 1rem;
    background-color: var(--oldwhite);
    
}
.profile h2 {
     display: flex;
     grid-column: 1/-1;
     justify-self: center;


}
form input [type="checkbox"] {
     width: 50px;
     height: 22px;
     vertical-align: bottom;

}
.myform {
     display: grid;
     margin: 0;
     padding: 0;
     padding-left: 2000px;
     
     font-family: "Quicksand", sans-serif;
     width: 800px;
     align-items: center;
     padding: 1rem;
     border: 1px solid rgb(0 0 0 / 0.1);
     border-radius: 0.5rem;
     background-color:  VAR(--oldwhite);
   
    box-sizing: border-box;
}
.myform2 {
     display: grid;
     margin: 10px;
     padding: 10px;
     padding-left: 10px;
     height: 450px;
     font-family: "Quicksand", sans-serif;
     width: 600px;
     align-items: center;
     padding: 1rem;
     border: 2px solid rgb(0 0 0 / 0.1);
     border-radius: 0.5rem;
     background-color:  VAR(--oldwhite);
     max-width: 600px;
     box-sizing: border-box;
}
fieldset {
     display: grid;
     grid-gap: 0.5rem;
     margin: 1rem;
     border: 1px solid rgb(0 0 0 / 0.2);
     padding: 1rem;
}
legend {
     padding: 0.5rem;
     color:#000;
     font-size: 25px;
}
 
label {
     text-align: right;
     padding-right: 1rem;
}
input, select, textarea {
     padding: 0.5rem;
     font-size: 1.1rem;
}
input[type="checkbox"] {
     width: 22px;
     height: 22px;
     vertical-align: bottom;
}
button {
     margin: 1rem;
     background-color: blue;
     color: #fff;
     border: none;
     border-radius: 0.5rem;
     padding: .75rem;
     font-size: 1.2rem;
     
}
button:hover {
     background-color: green;
}
form
.check {
     grid-template-columns: 3fr 1fr;
     margin: 0.5rem 0;
}
figure {
     font-size: 30px;
}
.contactus {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr auto;
    
}
.contsec {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
    
     border:1px #000;
     padding: 30px;
}
form {
     padding: 30px;
}
.my3 {
     display: grid;
     /*grid-template-columns:630px 630px auto;*/
     grid-template-columns: auto auto auto;
     justify-self:stretch;
     justify-content: stretch;
    
}

.mainwords {
    
     border: 5px solid green;
     background-color: aqua;
     width:550px;
     height: 340px;
     padding-left: 10px;
     padding-bottom: 10px;
     padding: 20px;
     margin: 40px;
     align-items: baseline;
}
.mainwords h1 {
     font-size: 50px;
padding-left: 110px;
}

.addtxt {
    
     text-align: center;
}
 .email, .lname, .fname {
     font-size: 20px;
 }

.messageset div label {
     font-size: 20px;
}
.finishform div label {
     font-size: 20px;
}
.tripone {
     
     font-weight: 700;
}
.test {
     border: 5px solid green;
     background-color: aqua;
     width: 590px;
     height: 175px;
     padding-left: 0px;
     padding-bottom: 0px;
     padding: 0px;
     margin: 0px;
}
.adjpic figure img {
     margin: 27px;
     padding-top: 27px;
     background-color: aquamarine;
 }
 .chart {
                    
     display:grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      background-color: dodgerblue;
      padding: 10px;
      max-width: 656px;
     
}
 .chart > div {
     background-color: #f1f1f1;
     color: #000;
     padding: 10px;
     font-size: 30px;
     text-align: center;
 }
 .themain {
     display: grid;
     grid-template-columns: 50% auto;
     grid-template-rows: 500px auto;
     justify-self:stretch;
     grid-gap: 30px;
     height: 900px;
 }
 .mytest {
     
     background-color: #ffe4c4;
    

 }
 .headful {
     text-align: center;
 }
 .contactbutton {
     background-color:blue;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     
     font-size: 20px;
     margin: 4px 2px;
     cursor: pointer;


 }
 .chartsp {
     padding-top: 35px;
 }

.chcolor {
     background-color: bisque;
}
.largeprint {
     font-size: 30px;
}
messtype {
     height: 25px;
     width: 25px;
     vertical-align: middle;
}