:root {
     --heading-background-color:#f9f4f5ff; /* snow */
     --heading-text-color: #1e3888ff; /* marian blue */
     --mint: #3ab795ff;
     --tangerine: #f58a07ff;
     --marianblue: #1e3888ff;
     --snow: #f9f4f5ff; 
     --heading-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     --padding: 1rem;
     --border: 1px solid rgb(0 0 0 / 0.1);
 }

h1 {
     font-family: "Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal; 
     color: var(--mint);
     }
   
h2 {
    font-family: "Quicksand", sans-serif; 
    font-weight: 600;
   }

   .clmedia a {
     padding-left: 10rem;
     text-decoration: none;
} 

 
p {
     color: green;

}

.hero img {
    display: block;
    width: 100%;
    height: auto; 
}
ul {
     list-style-type: none;
}

.ontop {
	position: absolute;
	top: 200px;
	left: 300px;
	background: radial-gradient(#eee, #323A06);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 10px 50px #111;
	opacity: 0.9;
}

.ontop img {
     float: right;

}