body {
    font-family: sans-serif;
    margin: 0;
  }
  header {
    display: grid;
    grid-column: 1/2;
    background: purple;
    height: 100px;
  }
  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }
  section {
    zoom: 0.8;
  }
  article {
    padding: 10px;
    margin: 10px;
    background: aqua;
  }
  article p {
    display: grid;
    align-items: center;
    justify-content: center;

  }
  /* Add your flexbox CSS below here */
nav li {
  display: flex;
  justify-content: space-between;
}  
nav a {
  display:block;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
