one {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    
    border-radius: black;
    align-items: center;
    justify-content: center;
    
   
}


.onee {
   height: 30px;
   width: 30px;
}